/* ==========================================================================
   ПОДКЛЮЧЕНИЕ ШРИФТА CHAKRA PETCH
   ========================================================================== */

/* Light (300) */
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('Fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ==========================================================================
   ПОДКЛЮЧЕНИЕ ШРИФТА GEIST MONO
   ========================================================================== */

/* Thin (100) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('Fonts/Geist_Mono/GeistMono-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ==========================================================================
   Основные теги сайта
   ========================================================================== */

html, body {
  margin: 0;
  height: 1100vh;
  }

html {
  background: black;
  /* Убирает резкий "отскок" (эффект резины) на смартфонах и трекпадах Mac */
  overflow-y: scroll;
}

body::before {
  content: "";
  background-image: url("PC Design example.jpg"); 
  
  position: absolute;
  top: 0;
  left: 0;
  
  /* 🌟 Растягиваем на 100% ширины текущего экрана */
  width: 100%; 
  height: 100%; 
  
  /* 🌟 Инструкция для картинки: сжиматься/растягиваться ровно по ширине контейнера */
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: top center;
  
  opacity: 0; 
  z-index: 999999; 
  pointer-events: none; 
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0; /* Убираем стандартные отступы браузера, чтобы макет встал впритык */
}

/* ==========================================================================
   Скролл видео
   ========================================================================== */

.vid {
  
}

.holder {
  position: sticky;
  top: 0;
  height: 100vh; /* Обязательно: задает высоту контейнера на весь экран */
  width: 100%;
}

.vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

#video1 {
  z-index: -2;
  opacity: 0.8;
}

#video2 {
  z-index: -1;
  opacity: 0;
}

/* ==========================================================================
   Навбар
   ========================================================================== */

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px); /* Для Safari */
  backdrop-filter: blur(5px);         /* Для остальных */
  border-bottom: 1px solid rgba(50, 50, 50);
  z-index: 999;
}

/* 🌟 Новый главный контейнер, который все выравнивает */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Толкает логотип влево, а кнопку вправо */
  height: 100%;
  max-width: 100%;
  padding: 0 40px;                 /* Отступы от краев экрана для лого и кнопки */
  box-sizing: border-box;
  position: relative;              /* База для центрирования меню */
}

.navbar-menu {
  display: flex;
  text-align: center;
  gap: 2rem;
  list-style: none;

  /* 🌟 Магия позиционирования строго по центру навбара */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  font-family: 'Geist Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.button-contact-today {
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgb(70, 70, 70); /* Маленькая серая обводка */
  color: white;
  font-family: 'Geist Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  
  /* 🌟 Прямоугольная форма и интерактивность */
  padding: 10px 16px;                  /* Аккуратные отступы внутри рамки */
  cursor: pointer;                     /* Курсор "палец" при наведении */
}

/* Ограничиваем размер картинки логотипа */
.logo {
  height: 50px;            /* Задает аккуратную высоту под ваш навбар (высота навбара 100px) */
  width: auto;             /* Пропорции ширины сохранятся автоматически */
  display: block;          /* Убирает лишние скрытые отступы снизу картинки */
  object-fit: contain;     /* Защищает картинку от деформации и растягивания */
  cursor: pointer;
}

/* ==========================================================================
   Остальная часть главной страницы
   ========================================================================== */

.box-round-1 {
  /* 1. ВКЛЮЧАЕМ ПОЗИЦИОНИРОВАНИЕ (Без этого top не работает!) */
  position: absolute;
  
  /* 2. ВЫРАВНИВАНИЕ ПО ЦЕНТРУ ЭКРАНА */
  left: 50% ;
  transform: translateX(-50%) !important;

  /* 3. УПРАВЛЕНИЕ ВЫСОТОЙ (МЕНЯЙТЕ ЭТО ЧИСЛО ДЛЯ СДВИГА) */
  /* Поставьте 350px, 400px или 500px — теперь оно ОБЯЗАНО отреагировать */
  top: 225px; 
  width: 190px !important;
  height: 35px !important;

  /* 5. ВНЕШНИЙ ВИД (Прозрачный фон, белая обводка и скругление) */
  background-color: transparent;
  border: 1px solid #ffffff; 
  border-radius: 9999px;

  /* 6. ВЫРАВНИВАНИЕ ТЕКСТА ВНУТРИ КАПСУЛЫ */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.box-round-point-1 {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 0, 0); /* Цвет центральной точки */
  border-radius: 999px;
  border: 3.5px solid rgb(180, 0, 0); 
}

.box-round-text-1 {
  font-family: 'Chakra Petch', sans-serif;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 14px;
  font-weight: 700; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title-1 {
  /* Имя шрифта пишем ровно так, как зарегистрировали в @font-face */
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: -1.4px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 52px;
  font-weight: 700; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 0px auto auto; 
  padding-top: 290px;
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 🌟 Красим только слово TEAM в красный цвет */
.red-text {
  color: #ff0000; /* Яркий красный цвет (при необходимости замените на точный HEX из Фотошопа) */
}

.sub-title-1 {
  /* Имя шрифта пишем ровно так, как зарегистрировали в @font-face */
  font-family: "Geist-Mono", monospace;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.5;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 21px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(204, 204, 204); /* Основной цвет заголовка */
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 0px auto auto; 
  padding-top: 25px;
  max-width: 1000px; /* Ограничение ширины для красивого переноса строк */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons-2-main {
  margin: 35px auto auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button {
  width: 190px;
  height: 45px; 
  box-sizing: border-box;
  background-color: rgb(11, 9, 9);
  border: 1px solid rgba(77, 77, 77); 
  font-family: "Geist-Mono", monospace;
  letter-spacing: 0px;
  cursor: pointer;
  padding: 0; /* 🌟 Обнуляем дефолтные отступы кнопок */

  display: flex;
  align-items: center;    
  justify-content: center; 
  gap: 4px;               
  line-height: 1;         
  white-space: nowrap; /* 🌟 Запрещаем тексту переноситься, удерживая баланс */
  
  font-size: 16px;
  font-weight: 500; 
  text-align: center; 
  
  color: rgba(204, 204, 204); 
  text-transform: uppercase; 
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-contact {
  color: rgba(255, 255, 255); 
}

.button img {
  width: 20px; /* 🌟 Подсказка: для высоты кнопки 45px, иконка 20px-24px выглядит аккуратнее */
  transform: translateX(-5px); /* 🌟 Легкий сдвиг иконки вверх для визуального баланса */
}

.button-whatsapp {
  border: 1px solid rgba(50, 217, 81); 
}

.box {
  /* 🌟 Задаем точные размеры */
  width: 1360px;
  height: 460px;
  max-width: 100%; /* Защита: прямоугольник не выйдет за правый край экрана */
  
  /* 🌟 Серая обводка толщиной 1 пиксель (можно сделать толще, например 2px) */
  border: 2px solid rgba(26, 26, 26); 
  
  /* 🌟 Пустая (прозрачная) заливка */
  background: transparent; 
  
  /* Центрируем блок на странице и добавляем отступы сверху/снизу */
  margin: 210px auto; 
  
  /* Включаем правильный расчет размеров, чтобы обводка не увеличивала блок */
  box-sizing: border-box; 
}

.box img {
  width: 100%;
  height: 100%;
  /* Картинка заполнит весь прямоугольник и не сожмется, лишнее аккуратно обрежется */
  object-fit: cover; 
  /* Центрирует изображение внутри рамки */
  object-position: center; 
}

.outline {
  /* 🌟 ОДНО ЗНАЧЕНИЕ ДЛЯ НАСТРОЙКИ УГОЛКОВ (меняйте только его) */
  --corner-size: 8px; 

  margin: 520px auto 10px;
  width: 155px;
  height: 25px; 
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50); 

  /* 🌟 Автоматический расчет маски через переменную */
  clip-path: polygon(
    0% 0%, 
    var(--corner-size) 0%, 
    var(--corner-size) 2px, 
    calc(100% - var(--corner-size)) 2px, 
    calc(100% - var(--corner-size)) 0%, 
    100% 0%, 
    
    100% var(--corner-size), 
    calc(100% - 2px) var(--corner-size), 
    calc(100% - 2px) calc(100% - var(--corner-size)), 
    100% calc(100% - var(--corner-size)), 
    100% 100%, 
    
    calc(100% - var(--corner-size)) 100%, 
    calc(100% - var(--corner-size)) calc(100% - 2px), 
    var(--corner-size) calc(100% - 2px), 
    var(--corner-size) 100%, 
    0% 100%, 
    
    0% calc(100% - var(--corner-size)), 
    2px calc(100% - var(--corner-size)), 
    2px var(--corner-size), 
    0% var(--corner-size)
  );

  display: flex;
  justify-content: center; 
  align-items: center;    
}

.outline p {
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.3;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 15px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(102, 102, 102); /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-2 {
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.2;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 32px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cards {
  margin: 60px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;  /* Элементы идут сверху вниз */
  align-items: center;
  width: 275px;
  border: 2px solid rgba(38, 38, 38); 
  background: rgba(10, 10, 10); 
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgb(38, 38, 38);
}

.card-type-1 {
  height: 380px;
}

.card-type-2 {
  height: 360px;
}

.card h1 {
  margin: 24px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: -1.4px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 54px;
  font-weight: 700; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-image-1 {
  width: 320px;
  margin: -55px;
}

.card-image-2 {
  width: 230px;
}

.card-image-3 {
  width: 320px;
  margin: -55px;
}

.card p {
  margin-top: auto; 
  /* 🌟 ТОЧНЫЙ ОТСТУП ОТ НИЗА: ровно 10px до границы */
  margin-bottom: 5px; 
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: -1px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 0.8;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 24px;
  font-weight: 700; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(77, 77, 77); /* Основной цвет заголовка */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-trusted {
  /* Имя шрифта пишем ровно так, как зарегистрировали в @font-face */
  font-family: "Geist-Mono", monospace;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.5;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 21px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(204, 204, 204); /* Основной цвет заголовка */
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 125px auto auto; 
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lunar-media-1 {
  width: 160px;
  margin: 55px auto; 
  display: flex;
  justify-content: center;
}

.box-round-2 {
  width: 190px;
  height: 35px;

  /* 5. ВНЕШНИЙ ВИД (Прозрачный фон, белая обводка и скругление) */
  background-color: transparent;
  border: 1px solid #ffffff; 
  border-radius: 999px;
  margin: 230px auto;

  /* 6. ВЫРАВНИВАНИЕ ТЕКСТА ВНУТРИ КАПСУЛЫ */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.box-round-point-2 {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 0, 0); /* Цвет центральной точки */
  border-radius: 999px;
  border: 3.5px solid rgb(180, 0, 0); 
}

.box-round-text-2 {
  font-family: 'Chakra Petch', sans-serif;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 14px;
  font-weight: 700; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title-3 {
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: -1.2px; /* Буквы станут плотнее на 1 пиксель */
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 46px;
  font-weight: 600; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  margin: -205px;
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-title-2 {
  /* Имя шрифта пишем ровно так, как зарегистрировали в @font-face */
  font-family: "Geist-Mono", monospace;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.5;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 21px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(204, 204, 204); /* Основной цвет заголовка */
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 214px auto auto; 
  max-width: 1000px; /* Ограничение ширины для красивого переноса строк */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title-4 {
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: -1.2px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 46px;
  font-weight: 600; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: white; /* Основной цвет заголовка */
  text-transform: uppercase; /* Делает все буквы заглавными */
  
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 780px auto auto; 
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-title-3 {
  /* Имя шрифта пишем ровно так, как зарегистрировали в @font-face */
  font-family: "Geist-Mono", monospace;
  letter-spacing: 0px; /* Буквы станут плотнее на 1 пиксель */
  line-height: 1.5;
  
  /* 🌟 Задаем точные параметры из вашей задачи */
  font-size: 21px;
  font-weight: 500; /* Автоматически подтянет файл ChakraPetch-Bold.ttf */
  text-align: center; /* Выравнивание строго по центру экрана */
  
  color: rgba(204, 204, 204); /* Основной цвет заголовка */
  /* Отступы: 150px сверху (чтобы не заезжал под навар), авто по бокам для центра, 40px снизу */
  margin: 15px auto auto; 
  max-width: 1000px; /* Ограничение ширины для красивого переноса строк */
  
  /* Сглаживание пикселей для идеальной четкости */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}